// Sizes

$border-radius: 4px;
$font-size-body: 16px;
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-small: 14px;
$font-weight-bold: 600;
$media-desktop: "min-width: 600px";
$width-page: 720px;

///
/// IDS
/// 

#wrap {
  max-width: $width-page;
  padding: 0 30px;
}

#header {
    margin: 20px 0 60px;
    user-select: none;

    @media ($media-desktop) {
        margin: 50px 0 70px;
    }

    ul {
        margin: 0 0 0 25px;
        padding: 0;

        @media ($media-desktop) {
            float: right;
            margin: 0;
        }
    }

    li {
        float: left;
        font-size: $font-size-small;
        list-style-type: none;
        margin-left: 10px;

        @media ($media-desktop) {
            font-size: $font-size-h3;
            margin-left: 30px;
        }
    }

    li a,
    span {
        border-bottom: 2px solid transparent;
        color: $white-off;
        display: inline-block;
        padding-bottom: 1px;
        text-transform: uppercase;
        transition: border-color $transition-fast;

        &:hover {
            border-color: $gray;
        }

        &.active {
            border-color: $green-bright;
        }
    }

    li a:active {
        padding-top: 1px;
    }

    #logo {
        margin-left: -5px;
    }

    img {
        background: transparent;
        position: absolute;
        margin-top: -1px;
        width: 30px;
    }

    #logo:hover img {
        transform: rotate(360deg);
        transition: transform 0.5s;
    }

    span {
        font-size: $font-size-h3;
        margin-left: 40px;
    }
}

.content {
    p {
        margin: 1.8em 0;
    }

    a {
        border-bottom: 1px solid transparent;
        color: $green-light;
        padding-bottom: 1px;
        transition: border-color $transition-fast;

        &:hover {
            border-color: $green-light;
        }
    }

    ol,
    ul {
        padding-left: 35px;
    }

    li {
        margin: 1em 0;

        p {
            margin: 1em 0 1.5em;
        }
    }

    th {
        font-style: normal;
        font-weight: $font-weight-bold;
        text-align: left;
    }

    th,
    td {
        padding: 5px 25px 5px 0;
        vertical-align: top;
    }

    button,
    input,
    select,
    textarea {
        background: $white-off;
        border: 0;
        border-radius: $border-radius;
        font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Arial,
            sans-serif;
        color: $gray-dark;
        margin: 0 3px;
        padding: 5px 10px;
    }

    button {
        background-color: $green-light;
        border-radius: 999px;
        font-weight: 700;
        padding-left: 20px;
        padding-right: 20px;
    }

    select {
        padding: 2px 7px;
    }
}

#disqus_thread {
    margin-top: 70px;
}

#footer {
    color: $gray-light;
    font-size: $font-size-small;
    margin: 40px 0 40px;
    user-select: none;

    @media ($media-desktop) {
        margin: 70px 0 70px;
    }

    p {
        margin: 0;
    }

    span {
        margin-left: 25px;
        text-align: left;
    }

    a {
        $size: 25px;

        display: inline-block;
        height: $size;
        margin-left: 3px;
        position: relative;
        vertical-align: top;
        width: $size;

        &:hover {
            &:nth-of-type(1)>svg {
                fill: $white-off;
            }

            &:nth-of-type(2)>svg {
                fill: #0077b5;
            }

            &:nth-of-type(3)>svg {
                fill: $green-bright;
            }

            &:nth-of-type(4)>svg {
                fill: #f80;
            }
        }
    }

    // SVGs from https://codepen.io/ruandre/pen/howFi
    svg {
        fill: $gray-light;
        height: 100%;
        transition: fill $transition-fast;
        width: 100%;
    }
}

.nounderline,
.nounderline:hover,
.lb-close:hover {
  border-bottom: 0 !important;
}

.borderless {
  border: 0;

  table,
  tbody,
  th,
  tr,
  td {
    border: 0;
  }
}

.centered {
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}

.tag {
  background: $gray-darker;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $gray-light;
  display: inline-block;
  font-size: $font-size-small;
  cursor: default;
  margin: 0 6px 6px 0;
  padding: 5px 10px;
  transition: color 0.2s;
  user-select: none;
}

.post-info {
  color: $gray-light;
  font-size: $font-size-h3;
  margin: 2em 0;
}

.activetag {
  color: $white-off;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.left {
  margin: 0 20px 20px 20px;
  width: 100%;

  @media ($media-desktop) {
    width: initial;
  }
}

img.right {
  margin: 0 0 20px 50px;
  width: 100%;

  @media ($media-desktop) {
    width: initial;
  }
}

.hidden {
  display: none;
}

#index-html {
    .content {
      $height-svg: 600px;
      $width-svg: 720px;
  
      height: $height-svg - 30px;
      margin: -40px 0 -40px 50%;
      overflow: hidden;
      padding: 0px;
      transform: translateX(-$width-svg / 2);
      width: $width-svg;
  
      svg {
        font-family: Arial;
        font-weight: 700;
        margin-top: -30px;
      }
  
      line {
        stroke: #6c7486;
        stroke-opacity: 0.6;
        stroke-width: 1px;
      }
  
      circle {
        stroke: $gray-dark;
        stroke-width: 3px;
        user-select: none;
      }
  
      .g0 {
        fill: $green-bright;
      }
      .g1,
      .g4 {
        fill: $green-dark;
      }
      .g2,
      .g3,
      .g5 {
        fill: $green-light;
      }
    }
  
    #footer {
      text-align: center;
    }
  }